
body{
	background: #8A1253;
	padding: 0;
	margin: 0;
}

.wrapper{
	background:#4D4545;
	margin: 4em 0;
	padding: 1em;
}
.active-video{
	width: 100%;
	
}
.wrapper .playlist{
	overflow-y: scroll;
	padding: 1em;
	height: 28em;
	background:#8A1253;
}
.wrapper .playlist .item{
	width: 100%;
	cursor: pointer;
}
.wrapper .playlist .item video{
	width: 100%;
	border: 4px solid #8A1253;
}