
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Lobster|Raleway:400,700i,800,900|Yellowtail');

body{
  margin:0;
  padding:0;
  background: #070000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.wrapper span{

   font-size:4em;
  color:#F8F5E4 ;
  font-family:"Lobster";
  font-wieght:bold;
  }
 
.wrapper h3,
.wrapper h4 a{
  font-family:"Raleway";
  color:#A7D82E  ;
  }
